
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .title {
    font-size: 24px;
  }
  
  .links {
    display: flex;
    align-items: center;
  }
  
  .links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .links li {
    margin-right: 20px;
  }
  
  .btn {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #3498db;
    border: 2px solid #3498db;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #3498db;
    color: #fff;
    border-color: #2980b9;
  }
  
  @media (max-width: 768px) {
    .Navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .links {
      margin-top: 10px;
    }
  
    .links ul {
      flex-direction: column;
    }
  
    .links li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .btn {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  